.glitch {
  position: relative;
  color: white;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 41px, 0);
    transform: skew(0.81deg);
  }
  5% {
    clip: rect(51px, 9999px, 2px, 0);
    transform: skew(0.54deg);
  }
  10% {
    clip: rect(22px, 9999px, 6px, 0);
    transform: skew(0.13deg);
  }
  15% {
    clip: rect(30px, 9999px, 36px, 0);
    transform: skew(0.35deg);
  }
  20% {
    clip: rect(84px, 9999px, 25px, 0);
    transform: skew(0.99deg);
  }
  25% {
    clip: rect(57px, 9999px, 29px, 0);
    transform: skew(0.05deg);
  }
  30% {
    clip: rect(38px, 9999px, 62px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(81px, 9999px, 68px, 0);
    transform: skew(0.67deg);
  }
  40% {
    clip: rect(44px, 9999px, 43px, 0);
    transform: skew(0.49deg);
  }
  45% {
    clip: rect(63px, 9999px, 80px, 0);
    transform: skew(0.6deg);
  }
  50% {
    clip: rect(69px, 9999px, 22px, 0);
    transform: skew(0.43deg);
  }
  55% {
    clip: rect(1px, 9999px, 25px, 0);
    transform: skew(0.69deg);
  }
  60% {
    clip: rect(52px, 9999px, 68px, 0);
    transform: skew(0.61deg);
  }
  65% {
    clip: rect(88px, 9999px, 54px, 0);
    transform: skew(0.53deg);
  }
  70% {
    clip: rect(10px, 9999px, 35px, 0);
    transform: skew(0.82deg);
  }
  75% {
    clip: rect(47px, 9999px, 38px, 0);
    transform: skew(0.29deg);
  }
  80% {
    clip: rect(16px, 9999px, 16px, 0);
    transform: skew(0.81deg);
  }
  85% {
    clip: rect(24px, 9999px, 100px, 0);
    transform: skew(0.88deg);
  }
  90% {
    clip: rect(16px, 9999px, 64px, 0);
    transform: skew(0.18deg);
  }
  95% {
    clip: rect(36px, 9999px, 37px, 0);
    transform: skew(0.27deg);
  }
  100% {
    clip: rect(21px, 9999px, 94px, 0);
    transform: skew(0.74deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 41px, 0);
    transform: skew(0.81deg);
  }
  5% {
    clip: rect(51px, 9999px, 2px, 0);
    transform: skew(0.54deg);
  }
  10% {
    clip: rect(22px, 9999px, 6px, 0);
    transform: skew(0.13deg);
  }
  15% {
    clip: rect(30px, 9999px, 36px, 0);
    transform: skew(0.35deg);
  }
  20% {
    clip: rect(84px, 9999px, 25px, 0);
    transform: skew(0.99deg);
  }
  25% {
    clip: rect(57px, 9999px, 29px, 0);
    transform: skew(0.05deg);
  }
  30% {
    clip: rect(38px, 9999px, 62px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(81px, 9999px, 68px, 0);
    transform: skew(0.67deg);
  }
  40% {
    clip: rect(44px, 9999px, 43px, 0);
    transform: skew(0.49deg);
  }
  45% {
    clip: rect(63px, 9999px, 80px, 0);
    transform: skew(0.6deg);
  }
  50% {
    clip: rect(69px, 9999px, 22px, 0);
    transform: skew(0.43deg);
  }
  55% {
    clip: rect(1px, 9999px, 25px, 0);
    transform: skew(0.69deg);
  }
  60% {
    clip: rect(52px, 9999px, 68px, 0);
    transform: skew(0.61deg);
  }
  65% {
    clip: rect(88px, 9999px, 54px, 0);
    transform: skew(0.53deg);
  }
  70% {
    clip: rect(10px, 9999px, 35px, 0);
    transform: skew(0.82deg);
  }
  75% {
    clip: rect(47px, 9999px, 38px, 0);
    transform: skew(0.29deg);
  }
  80% {
    clip: rect(16px, 9999px, 16px, 0);
    transform: skew(0.81deg);
  }
  85% {
    clip: rect(24px, 9999px, 100px, 0);
    transform: skew(0.88deg);
  }
  90% {
    clip: rect(16px, 9999px, 64px, 0);
    transform: skew(0.18deg);
  }
  95% {
    clip: rect(36px, 9999px, 37px, 0);
    transform: skew(0.27deg);
  }
  100% {
    clip: rect(21px, 9999px, 94px, 0);
    transform: skew(0.74deg);
  }
}
@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(37px, 9999px, 45px, 0);
    transform: skew(0.2deg);
  }
  5% {
    clip: rect(69px, 9999px, 67px, 0);
    transform: skew(0.12deg);
  }
  10% {
    clip: rect(18px, 9999px, 35px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(68px, 9999px, 47px, 0);
    transform: skew(0.02deg);
  }
  20% {
    clip: rect(81px, 9999px, 54px, 0);
    transform: skew(0.23deg);
  }
  25% {
    clip: rect(23px, 9999px, 70px, 0);
    transform: skew(0.85deg);
  }
  30% {
    clip: rect(98px, 9999px, 98px, 0);
    transform: skew(0.12deg);
  }
  35% {
    clip: rect(92px, 9999px, 1px, 0);
    transform: skew(0.34deg);
  }
  40% {
    clip: rect(53px, 9999px, 58px, 0);
    transform: skew(0.05deg);
  }
  45% {
    clip: rect(71px, 9999px, 43px, 0);
    transform: skew(0.73deg);
  }
  50% {
    clip: rect(23px, 9999px, 54px, 0);
    transform: skew(0.14deg);
  }
  55% {
    clip: rect(66px, 9999px, 33px, 0);
    transform: skew(0.09deg);
  }
  60% {
    clip: rect(92px, 9999px, 15px, 0);
    transform: skew(0.43deg);
  }
  65% {
    clip: rect(45px, 9999px, 23px, 0);
    transform: skew(0.62deg);
  }
  70% {
    clip: rect(62px, 9999px, 92px, 0);
    transform: skew(0.04deg);
  }
  75% {
    clip: rect(68px, 9999px, 45px, 0);
    transform: skew(0.01deg);
  }
  80% {
    clip: rect(37px, 9999px, 76px, 0);
    transform: skew(0.74deg);
  }
  85% {
    clip: rect(64px, 9999px, 40px, 0);
    transform: skew(0.35deg);
  }
  90% {
    clip: rect(62px, 9999px, 73px, 0);
    transform: skew(0.57deg);
  }
  95% {
    clip: rect(65px, 9999px, 99px, 0);
    transform: skew(0.66deg);
  }
  100% {
    clip: rect(47px, 9999px, 67px, 0);
    transform: skew(0.14deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(37px, 9999px, 45px, 0);
    transform: skew(0.2deg);
  }
  5% {
    clip: rect(69px, 9999px, 67px, 0);
    transform: skew(0.12deg);
  }
  10% {
    clip: rect(18px, 9999px, 35px, 0);
    transform: skew(0.32deg);
  }
  15% {
    clip: rect(68px, 9999px, 47px, 0);
    transform: skew(0.02deg);
  }
  20% {
    clip: rect(81px, 9999px, 54px, 0);
    transform: skew(0.23deg);
  }
  25% {
    clip: rect(23px, 9999px, 70px, 0);
    transform: skew(0.85deg);
  }
  30% {
    clip: rect(98px, 9999px, 98px, 0);
    transform: skew(0.12deg);
  }
  35% {
    clip: rect(92px, 9999px, 1px, 0);
    transform: skew(0.34deg);
  }
  40% {
    clip: rect(53px, 9999px, 58px, 0);
    transform: skew(0.05deg);
  }
  45% {
    clip: rect(71px, 9999px, 43px, 0);
    transform: skew(0.73deg);
  }
  50% {
    clip: rect(23px, 9999px, 54px, 0);
    transform: skew(0.14deg);
  }
  55% {
    clip: rect(66px, 9999px, 33px, 0);
    transform: skew(0.09deg);
  }
  60% {
    clip: rect(92px, 9999px, 15px, 0);
    transform: skew(0.43deg);
  }
  65% {
    clip: rect(45px, 9999px, 23px, 0);
    transform: skew(0.62deg);
  }
  70% {
    clip: rect(62px, 9999px, 92px, 0);
    transform: skew(0.04deg);
  }
  75% {
    clip: rect(68px, 9999px, 45px, 0);
    transform: skew(0.01deg);
  }
  80% {
    clip: rect(37px, 9999px, 76px, 0);
    transform: skew(0.74deg);
  }
  85% {
    clip: rect(64px, 9999px, 40px, 0);
    transform: skew(0.35deg);
  }
  90% {
    clip: rect(62px, 9999px, 73px, 0);
    transform: skew(0.57deg);
  }
  95% {
    clip: rect(65px, 9999px, 99px, 0);
    transform: skew(0.66deg);
  }
  100% {
    clip: rect(47px, 9999px, 67px, 0);
    transform: skew(0.14deg);
  }
}
@-webkit-keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(5deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(0deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(5deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(1deg);
  }
  100% {
    transform: skew(0deg);
  }
}/*# sourceMappingURL=glitch.css.map */